.section-blog-list {
  .container {
    overflow: hidden;
  }
}
  .content-wrap {
    float: left;
    padding: 1px 0;
    width: -webkit-calc(100% - 330px);
    width: calc(100% - 330px);
    background-color: #07d0ce;
  }
