.section-blog-list {
  .container {
    overflow: hidden;
  }
}
  .content-wrap {
    float: left;
    width: -webkit-calc(100% - 330px);
    width: calc(100% - 330px);
    height: 300px;
    background-color: #07d0ce;
  }
