/*fonts*/
/*fonts-weight*/
/*fonts-size*/
/*line-height*/
/*colors*/
/*transition*/
/*border-radius*/
/*import global styles */
@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype"), url("../fonts/HelveticaRegular/HelveticaRegular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaBold/HelveticaBold.eot");
  src: url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype"), url("../fonts/HelveticaBold/HelveticaBold.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/HelveticaLight/HelveticaLight.eot");
  src: url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype"), url("../fonts/HelveticaLight/HelveticaLight.svg") format("svg");
  font-weight: 300;
  font-style: normal; }
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
  width: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font: 400 18px "Helvetica", Arial, sans-serif;
  line-height: 1.6;
  background: #ffffff;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none; }

select, input, textarea {
  font-size: 16px;
  vertical-align: middle;
  color: #17191C; }

textarea {
  vertical-align: top; }

:focus {
  outline: none; }

input[type=submit], button {
  cursor: pointer; }

img, fieldset {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link, a:visited {
  font-family: "Helvetica", Arial, sans-serif;
  color: #24C4FF;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r {
  float: right !important; }

.float-l {
  float: left !important; }

.no-float {
  float: none !important; }

.no-border {
  border: 0 !important; }

.no-bg {
  background: none !important; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-display {
  display: none !important; }

.display {
  display: block !important; }

.inline {
  display: inline !important; }

.overflow {
  overflow: hidden !important; }

.align-r {
  text-align: right !important; }

.align-l {
  text-align: left !important; }

.align-c {
  text-align: center !important; }

.clear {
  clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  opacity: 0;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-image: url(../../img/blog_bg.png); }
  body.show {
    opacity: 1; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: 700; }

a, .btn {
  -webkit-transition: 0.2s;
  -khtml-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

a[href^=tel] {
  cursor: default; }
  a[href^=tel]:hover, a[href^=tel]:focus {
    color: inherit !important; }

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  user-select: none; }

.container {
  float: none !important;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; }

.vertical-align .container {
  display: table;
  width: 100%;
  height: 494px;
  padding-top: 50px;
  padding-bottom: 50px; }
.vertical-align .container-box {
  display: table-cell;
  width: 100%;
  min-height: 50px;
  vertical-align: middle; }

.wpb_content_element:not(.wpb_raw_html) .wpb_wrapper,
.content {
  word-spacing: -.02em;
  line-height: 1.5; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper > *:not(:last-child),
  .content > *:not(:last-child) {
    margin-bottom: 27px; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper h1, .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper h2, .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper h3, .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper h4, .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper h5, .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper h6,
  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    margin-bottom: 15px !important;
    line-height: 1.47;
    font-family: "Anton", "Helvetica", Arial, sans-serif;
    color: #2E3642;
    word-spacing: 0; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper h1,
  .content h1 {
    font-size: 40px; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper h2,
  .content h2 {
    font-size: 28px; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper h3,
  .content h3 {
    font-size: 24px; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper h4,
  .content h4 {
    margin-bottom: 6px !important;
    font-size: 18px; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper h5,
  .content h5 {
    margin-bottom: 20px !important;
    font-size: 16px; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper h6,
  .content h6 {
    font-size: 16px; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper a:hover, .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper a:focus,
  .content a:hover,
  .content a:focus {
    color: #FF3B5E;
    text-decoration: none; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper ol,
  .content ol {
    margin-top: 35px;
    padding-left: 24px;
    list-style: none;
    counter-reset: li; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper ol > li,
    .content ol > li {
      counter-increment: li; }
      .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper ol > li:before,
      .content ol > li:before {
        content: counter(li) ".";
        display: inline-block;
        width: 22px;
        color: #FF3B5E;
        margin-left: -22px; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper ul,
  .content ul {
    margin-top: 35px;
    padding-left: 19px;
    list-style: none; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper ul > li:before,
    .content ul > li:before {
      content: '\2022';
      display: inline-block;
      width: 18px;
      margin-left: -18px;
      color: #FF3B5E; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper li,
  .content li {
    margin-bottom: 9px;
    text-align: left; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper blockquote,
  .content blockquote {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    text-align: left; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper img,
  .content img {
    max-width: 100%;
    height: auto; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper img.alignleft,
    .content img.alignleft {
      float: left;
      margin: 4px 12px 12px 0; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper img.alignright,
    .content img.alignright {
      float: right;
      margin: 4px 0 12px 12px; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper img.aligncenter,
    .content img.aligncenter {
      display: block;
      margin: 0 auto 12px;
      clear: both; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
  position: relative;
  min-height: 100%;
  margin-bottom: -117px; }
  .wrapper:after {
    content: '';
    display: block;
    width: 100%;
    height: 117px; }

#main-content {
  padding-top: 0;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .show #main-content {
    padding-top: 90px; }
  .show .logged + #main-content, .show .scrolling + #main-content {
    padding-top: 55px; }

a.btn,
.btn {
  position: relative;
  display: inline-block;
  min-width: 61px;
  margin: 0;
  padding: 7px 9px 6px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #24C4FF;
  border: 1px solid #24C4FF;
  font: 400 18px "Pathway Gothic One", "Helvetica", Arial, sans-serif;
  line-height: 1.1;
  letter-spacing: -.01em;
  cursor: pointer;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  a.btn:hover, a.btn:focus,
  .btn:hover,
  .btn:focus {
    color: #24C4FF;
    background-color: transparent; }
  a.btn.grey,
  .btn.grey {
    background-color: #294955;
    border-color: #294955; }
    a.btn.grey:hover, a.btn.grey:focus,
    .btn.grey:hover,
    .btn.grey:focus {
      color: #294955;
      background-color: transparent; }
  a.btn.pink,
  .btn.pink {
    background-color: #FF3B5E;
    border-color: #FF3B5E; }
    a.btn.pink:hover, a.btn.pink:focus,
    .btn.pink:hover,
    .btn.pink:focus {
      color: #FF3B5E;
      background-color: transparent; }
  a.btn.yellow,
  .btn.yellow {
    color: #000000;
    background-color: #FFC42B;
    border-color: #FFC42B; }
    a.btn.yellow:hover, a.btn.yellow:focus,
    .btn.yellow:hover,
    .btn.yellow:focus {
      color: #FFC42B;
      background-color: transparent; }
  a.btn.big,
  .btn.big {
    padding: 12px 10px 12px;
    min-width: 144px; }
  a.btn.biggest,
  .btn.biggest {
    padding: 16px 10px 16px;
    min-width: 217px;
    font-size: 24px; }

a.btn-jump-to-content,
.btn-jump-to-content {
  position: absolute;
  display: block;
  width: 300px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px 15px;
  font-family: "Pathway Gothic One", "Helvetica", Arial, sans-serif;
  font-size: 20px;
  color: #000000;
  text-align: center;
  background: #ffffff;
  z-index: -9999;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
  opacity: 0; }
  a.btn-jump-to-content:focus,
  .btn-jump-to-content:focus {
    opacity: 1;
    z-index: 9999;
    text-decoration: none; }

a.search-submit,
.search-submit {
  position: relative;
  display: inline-block;
  min-width: 68px;
  margin: 0;
  padding: 12px 9px 11px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #24C4FF;
  border: 1px solid #24C4FF;
  font: 400 18px "Pathway Gothic One", "Helvetica", Arial, sans-serif;
  line-height: 1.1;
  letter-spacing: -.01em;
  cursor: pointer;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  a.search-submit:hover, a.search-submit:focus,
  .search-submit:hover,
  .search-submit:focus {
    color: #24C4FF;
    background-color: #ffffff; }

.input-style,
.search-field {
  display: block;
  width: 100%;
  margin: 0;
  min-height: 44px;
  font: 400 16px "Helvetica", Arial, sans-serif;
  line-height: 42px;
  border: 1px solid #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 12px;
  background-color: #ffffff;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
  .input-style:hover, .input-style:active, .input-style:focus,
  .search-field:hover,
  .search-field:active,
  .search-field:focus {
    border-color: #24C4FF; }
  .input-style.wpcf7-not-valid, .input-style.error,
  .search-field.wpcf7-not-valid,
  .search-field.error {
    border-color: #ff0000; }

textarea.input-style {
  max-width: 100%;
  margin: 10px auto 0;
  padding: 8px 15px 8px;
  min-height: 140px;
  font: 400 16px "Helvetica", Arial, sans-serif;
  line-height: 1.6;
  resize: none;
  border: 1px solid #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  textarea.input-style:focus {
    border-color: #24C4FF; }

input::-webkit-input-placeholder {
  font-size: 16px;
  font-family: "Helvetica", Arial, sans-serif;
  color: #8F97A1;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }

input::-moz-placeholder {
  font-size: 16px;
  font-family: "Helvetica", Arial, sans-serif;
  color: #8F97A1;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }

input:-ms-input-placeholder {
  font-size: 16px;
  font-family: "Helvetica", Arial, sans-serif;
  color: #8F97A1;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }

input:-moz-placeholder {
  font-size: 16px;
  font-family: "Helvetica", Arial, sans-serif;
  color: #8F97A1;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }

input:focus::-webkit-input-placeholder {
  opacity: 0; }

input:focus::-moz-placeholder {
  opacity: 0; }

input:focus:-ms-input-placeholder {
  opacity: 0; }

input:focus:-moz-placeholder {
  opacity: 0; }

textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-family: "Helvetica", Arial, sans-serif;
  color: #8F97A1;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }

textarea::-moz-placeholder {
  font-size: 16px;
  font-family: "Helvetica", Arial, sans-serif;
  color: #8F97A1;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }

textarea:-ms-input-placeholder {
  font-size: 16px;
  font-family: "Helvetica", Arial, sans-serif;
  color: #8F97A1;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }

textarea:-moz-placeholder {
  font-size: 16px;
  font-family: "Helvetica", Arial, sans-serif;
  color: #8F97A1;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 90px;
  opacity: 0;
  background-color: #0B0C0D;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.7);
  -khtml-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.7); }
  .show .header {
    opacity: 1; }
  .header .logo {
    opacity: 0;
    visibility: hidden;
    max-width: 0; }
  .header.logged, .header.scrolling {
    min-height: 55px; }
    .header.logged .logo, .header.scrolling .logo {
      position: relative;
      left: -2px;
      padding-top: 15px;
      padding-bottom: 9px;
      opacity: 1;
      visibility: visible;
      max-width: 131px; }
  .admin-bar .header {
    top: 32px; }
    @media all and (max-width: 782px) {
      .admin-bar .header {
        top: 46px; } }
  @media all and (max-width: 600px) {
    .admin-bar.scrolling .header {
      top: 0; } }

.logo {
  overflow: hidden;
  float: left;
  max-width: 152px;
  padding-top: 17px;
  padding-bottom: 15px;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .logo img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto; }

.mobile-menu-wrap,
.mobile-menu-toggle {
  display: none; }

.mobile-menu-wrap {
  position: fixed;
  z-index: 99999;
  right: 0;
  height: 0;
  width: 0;
  top: 0;
  -webkit-transition-delay: 0.35s;
  -khtml-transition-delay: 0.35s;
  -moz-transition-delay: 0.35s;
  -ms-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s; }
  .mobile-menu-wrap.showing {
    height: 100%;
    width: 100%;
    -webkit-transition-delay: 0s;
    -khtml-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }

.mobile-menu-overlay {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0;
  -webkit-transition: opacity  0.35s;
  -khtml-transition: opacity  0.35s;
  -moz-transition: opacity  0.35s;
  -ms-transition: opacity  0.35s;
  -o-transition: opacity  0.35s;
  transition: opacity  0.35s; }
  .showing .mobile-menu-overlay {
    opacity: 1; }

.mobile-menu-box {
  position: absolute;
  overflow: auto;
  width: 370px;
  max-width: 80%;
  height: 100%;
  top: 55px;
  right: -400px;
  z-index: 2;
  padding-top: 20px;
  background-image: url(../../img/dark_bg.jpg);
  -webkit-transition: right  0.35s;
  -khtml-transition: right  0.35s;
  -moz-transition: right  0.35s;
  -ms-transition: right  0.35s;
  -o-transition: right  0.35s;
  transition: right  0.35s;
  -webkit-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
  -khtml-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
  -moz-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
  -ms-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
  -o-box-shadow: -10px 10px 30px rgba(0,0,0,0.2);
  box-shadow: -10px 10px 30px rgba(0,0,0,0.2); }
  .showing .mobile-menu-box {
    right: 0; }

.mobile-menu-toggle {
  position: absolute;
  right: 0;
  top: 0;
  height: 55px;
  width: 55px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 26px; }
  .mobile-menu-toggle span:before,
  .mobile-menu-toggle span:after,
  .mobile-menu-toggle span {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    height: 3px;
    width: 30px;
    background-color: #FF3B5E;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all  0.35s;
    -khtml-transition: all  0.35s;
    -moz-transition: all  0.35s;
    -ms-transition: all  0.35s;
    -o-transition: all  0.35s;
    transition: all  0.35s; }
  .mobile-menu-toggle span {
    z-index: 999999;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .mobile-menu-toggle span:before {
    top: -9px; }
  .mobile-menu-toggle span:after {
    bottom: -9px; }
  .mobile-menu-toggle.active span {
    background-color: transparent; }
  .mobile-menu-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    background-color: #FF3B5E; }
  .mobile-menu-toggle.active span:after {
    -webkit-transform: rotate(-45deg);
    -khtml-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 0;
    background-color: #FF3B5E; }

/*--------------------------------------NAV-----------------------------------------*/
.main-nav > ul {
  margin: 0;
  text-align: left;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  -webkit-transition-delay: 2s;
  -khtml-transition-delay: 2s;
  -moz-transition-delay: 2s;
  -ms-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s; }
  .logged .main-nav > ul, .scrolling .main-nav > ul {
    text-align: center; }
  .main-nav > ul > li {
    position: relative;
    display: inline-block;
    text-align: center; }
    .main-nav > ul > li:first-child a {
      margin-left: 0; }
    .main-nav > ul > li a {
      position: relative;
      display: inline-block;
      margin: 0 16px;
      padding: 33px 0 32px;
      font: 400 24px "Pathway Gothic One", "Helvetica", Arial, sans-serif;
      line-height: 1.1;
      color: #8F97A1;
      text-transform: uppercase; }
      .main-nav > ul > li a:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 3px;
        left: 0;
        bottom: 0;
        background-color: transparent;
        -webkit-transition: 0.2s;
        -khtml-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s; }
      .logged .main-nav > ul > li a, .scrolling .main-nav > ul > li a {
        font-size: 18px;
        margin: 0 7px;
        padding: 19px 0 18px; }

.main-nav a:hover,
.main-nav a:focus,
.main-nav .current-menu-item > a {
  color: #ffffff;
  text-decoration: none; }
  .main-nav a:hover:after,
  .main-nav a:focus:after,
  .main-nav .current-menu-item > a:after {
    background-color: #FFC42B; }

.main-nav a:hover:after,
.main-nav a:focus:after {
  opacity: 0.7; }

.mobile-menu {
  padding-bottom: 5px; }
  .mobile-menu > li {
    position: relative; }
    .mobile-menu > li a {
      position: relative;
      display: block;
      line-height: 1.2;
      color: #ffffff;
      padding: 12px 25px 12px;
      text-transform: uppercase; }
  .mobile-menu > .current-menu-item > a,
  .mobile-menu > li > a:hover,
  .mobile-menu > li > a:focus {
    color: #FFC42B;
    text-decoration: none; }
  .mobile-menu .expanded:after {
    content: "\f107";
    font-family: FontAwesome;
    font-size: 16px;
    line-height: 1;
    text-indent: 0;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 20px;
    margin-top: -8px;
    right: 10px;
    display: inline-block; }
  .mobile-menu:hover:after {
    color: #FFC42B; }
  .mobile-menu.open:after {
    content: "\f106"; }

.main-nav .sub-menu {
  overflow: hidden;
  display: block;
  position: absolute;
  z-index: 10;
  top: 25px;
  left: -5px;
  min-width: 100%;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: all .2s ease-in-out;
  -khtml-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.main-nav .sub-menu .sub-menu,
.mobile-menu .sub-menu .sub-menu {
  display: none; }

.mobile-menu .sub-menu {
  display: block; }
  .mobile-menu .sub-menu a {
    font-size: 14px;
    padding-left: 40px;
    text-decoration: none; }
    .mobile-menu .sub-menu a:hover, .mobile-menu .sub-menu a:focus {
      text-decoration: none; }
  .mobile-menu .sub-menu .sub-menu {
    padding-left: 45px; }

.logged-list {
  overflow: hidden;
  margin-right: 9px; }
  .logged-list > li {
    float: left; }
    .logged-list > li a {
      position: relative;
      display: inline-block;
      padding: 2px 4px 2px;
      font: 400 18px "Pathway Gothic One", "Helvetica", Arial, sans-serif;
      line-height: 1.1;
      color: #24C4FF;
      text-transform: uppercase; }
      .logged-list > li a:hover, .logged-list > li a:focus {
        color: #FF3B5E;
        text-decoration: none; }
        .logged-list > li a:hover .subscription, .logged-list > li a:focus .subscription {
          opacity: .7; }
    .logged-list > li .subscription {
      position: absolute;
      top: -5px;
      right: -4px;
      width: 10px;
      height: 10px;
      font-family: "Open Sans", "Helvetica", Arial, sans-serif;
      font-size: 8px;
      line-height: 10px;
      text-align: center;
      color: #ffffff;
      -webkit-border-radius: 50%;
      -khtml-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      background-color: #FF3B5E;
      -webkit-transition: 0.2s;
      -khtml-transition: 0.2s;
      -moz-transition: 0.2s;
      -ms-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s; }

.header-btn-box {
  float: right;
  margin: 29px -4px 0 1px;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .header-btn-box > a {
    margin-right: 5px; }
  .header-btn-box .logout-btn,
  .header-btn-box .logged-list {
    display: none; }

.scrolling .header-btn-box {
  display: inline-block;
  margin-top: 11px; }
.scrolling .logout-btn,
.scrolling .logged-list {
  display: none; }

.logged .logout-btn,
.logged .logged-list {
  display: inline-block; }
.logged .join-btn,
.logged .login-btn {
  display: none; }
.logged .header-btn-box {
  overflow: hidden;
  display: inline-block;
  margin-top: 11px;
  margin-left: -10px; }
  .logged .header-btn-box > * {
    float: left; }
.logged .logged-list > li {
  margin: 0 6px;
  padding: 2px 0; }

.sidebar {
  float: left;
  width: 285px;
  padding-left: 20px; }

.search-field {
  font-family: "Montserrat", "Helvetica", Arial, sans-serif;
  padding: 0 14px;
  letter-spacing: .04em; }

.widget {
  margin-bottom: 46px; }
  .widget > ul > li {
    display: block;
    border-bottom: 2px solid #8F97A1;
    border-bottom: 2px solid rgba(0, 0, 0, 0.07); }
    .widget > ul > li a {
      display: block;
      padding: 7px 0 16px;
      font-size: 14px;
      color: #2E3642; }
      .widget > ul > li a:hover, .widget > ul > li a:focus {
        color: #FF3B5E;
        text-decoration: none; }
  .widget .cat-item-1 {
    display: none; }

.widget-title {
  margin-bottom: 17px;
  font: 400 26px "Anton", "Helvetica", Arial, sans-serif;
  line-height: 1.1; }

.popular-list > li {
  border: none; }
  .popular-list > li:not(:last-child) {
    margin-bottom: 21px; }
  .popular-list > li a {
    color: #2E3642; }
    .popular-list > li a:hover, .popular-list > li a:focus {
      color: #FF3B5E;
      text-decoration: none; }

.popular-img-wrap {
  position: relative;
  height: 73px;
  margin-bottom: 11px;
  background-color: #ffffff; }
  .popular-img-wrap a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    line-height: 53px;
    text-align: center; }
  .popular-img-wrap img {
    max-width: 145px;
    max-height: 53px;
    height: auto;
    width: auto;
    vertical-align: middle; }
  .popular-img-wrap .wpp-thumbnail {
    display: inline-block;
    float: none;
    margin: 0; }

.popular-title {
  margin-bottom: 1px;
  font-size: 16px;
  line-height: 1.4;
  text-transform: uppercase; }

.popular-desc {
  font-size: 14px;
  color: #8F97A1;
  letter-spacing: -.01em; }

.tagcloud {
  overflow: hidden;
  margin: 23px 0 0 5px; }
  .tagcloud a {
    float: left;
    display: block;
    margin: 0 10px 10px 0;
    padding: 6px 11px 5px;
    color: #ffffff;
    font-size: 12px !important;
    text-transform: uppercase;
    background-color: #FF3B5E;
    border: 1px solid #FF3B5E; }
    .tagcloud a:hover, .tagcloud a:focus {
      color: #FF3B5E;
      text-decoration: none;
      background-color: transparent; }

.widget_search {
  margin-bottom: 40px; }
  .widget_search label .screen-reader-text {
    display: none; }
  .widget_search .search-form {
    position: relative; }
  .widget_search .search-submit {
    position: absolute;
    right: 0;
    top: 0; }

#footer {
  position: relative;
  z-index: 10;
  padding: 21px 0 20px;
  font-size: 16px;
  color: #8F97A1;
  background-color: #F4F5F7; }

.footer-list > li {
  display: inline-block;
  width: 32%;
  width: -webkit-calc(33.33% - 3px);
  width: calc(33.33% - 3px);
  text-align: center;
  vertical-align: middle; }
  .footer-list > li:first-child {
    width: 32%;
    text-align: left; }
  .footer-list > li:last-child {
    width: 34%;
    text-align: right; }

.footer-box {
  display: inline-block;
  text-align: left; }

.footer-logo {
  max-width: 226px;
  margin-top: 6px;
  margin-bottom: 4px;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .footer-logo img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto; }

.footer-title {
  display: block;
  margin-bottom: 1px;
  font-weight: 700; }

a.footer-link,
.footer-link {
  display: block;
  padding: 2px 0 2px;
  color: #8F97A1;
  font-weight: 300;
  line-height: 1.1; }
  a.footer-link.terms,
  .footer-link.terms {
    text-decoration: underline; }
  a.footer-link:hover, a.footer-link:focus,
  .footer-link:hover,
  .footer-link:focus {
    color: #FF3B5E;
    text-decoration: none; }

.copyright {
  font-weight: 300; }

.footer-menu > li a {
  display: block;
  padding: 2px 0 2px;
  color: #8F97A1;
  font-weight: 300;
  line-height: 1.1;
  text-decoration: underline; }
  .footer-menu > li a:hover, .footer-menu > li a:focus {
    color: #FF3B5E;
    text-decoration: none; }

/* styles used throughout site */
.section-hero {
  position: relative;
  z-index: 4;
  padding-top: 30px;
  padding-bottom: 300px;
  background: url(../../img/checker.png);
  background-size: 8px 8px; }
  .section-hero:after {
    position: absolute;
    z-index: 3;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #030406 0%, #2E3642 50.83%, #030406 100%);
    opacity: .95; }
  .section-hero:before {
    position: absolute;
    z-index: 5;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../img/hero_bg_v2.png);
    background-size: auto 100%;
    background-position: top center;
    background-repeat: no-repeat; }
  .section-hero .container {
    position: relative;
    z-index: 5;
    display: table;
    width: 100%;
    height: 214px;
    padding-bottom: 6px; }
  .section-hero .hero-cell {
    display: table-cell;
    width: 100%;
    vertical-align: bottom; }

.hero-person-name {
  overflow: hidden;
  padding-bottom: 19px; }
  .hero-person-name > * {
    padding-right: 50px;
    text-align: right; }
    .hero-person-name > *:nth-child(even) {
      padding-left: 50px;
      text-align: left; }
      .hero-person-name > *:nth-child(even):after {
        position: absolute;
        content: '&';
        top: -8px;
        left: 0;
        font-family: "Pathway Gothic One", "Helvetica", Arial, sans-serif;
        font-size: 65px;
        line-height: 65px;
        color: #ffffff;
        opacity: .35;
        -webkit-transform: translate(-50%, 0);
        -khtml-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0); }
      .hero-person-name > *:nth-child(even) .person-name span {
        color: #24C4FF; }
  .hero-person-name .hero-box {
    position: relative;
    float: left;
    width: 50%; }

.person-name {
  font: 400 24px "Anton", "Helvetica", Arial, sans-serif;
  line-height: 1.1;
  text-transform: uppercase;
  color: #ffffff; }
  .person-name span {
    display: block;
    color: #FF3B5E; }

.hero-presents {
  font-family: "Pathway Gothic One", "Helvetica", Arial, sans-serif;
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  opacity: .35; }

.hero-title-box {
  position: absolute;
  z-index: 6;
  left: 0;
  bottom: 150px;
  width: 100%;
  padding: 26px 20px 12px; }
  .hero-title-box:after {
    position: absolute;
    z-index: 8;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 13.81%, #000000 32.04%, #000000 62.98%, #000000 84.53%);
    opacity: 0.5; }

.hero-logo {
  position: relative;
  z-index: 10;
  max-width: 651px;
  width: 100%;
  margin: 0 auto; }
  .hero-logo img {
    position: relative;
    left: -10px;
    width: 100%; }

.section-hero-content .container-bg {
  position: relative;
  z-index: 10;
  top: -45px;
  height: 45px;
  margin: 0 20px;
  background-color: #ffffff;
  background-image: url(../../img/blog_bg.png); }
  .section-hero-content .container-bg:after, .section-hero-content .container-bg:before {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    top: 9px;
    background-color: #ffffff;
    background-image: url(../../img/blog_bg.png); }
  .section-hero-content .container-bg:after {
    right: -15px;
    -webkit-transform: rotate(-27deg);
    -khtml-transform: rotate(-27deg);
    -moz-transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    -o-transform: rotate(-27deg);
    transform: rotate(-27deg); }
  .section-hero-content .container-bg:before {
    left: -15px;
    -webkit-transform: rotate(27deg);
    -khtml-transform: rotate(27deg);
    -moz-transform: rotate(27deg);
    -ms-transform: rotate(27deg);
    -o-transform: rotate(27deg);
    transform: rotate(27deg); }
.section-hero-content .vc_row {
  margin: 0; }

.section-coaches {
  padding: 160px 0; }

.wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list,
.content .coaches-box ul.coaches-list {
  margin: 40px -20px 0;
  padding-left: 0; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list > li,
  .content .coaches-box ul.coaches-list > li {
    display: inline-block;
    width: 49%;
    width: -webkit-calc(50% - 3px);
    width: calc(50% - 3px);
    margin-bottom: 60px;
    padding: 0 8px;
    vertical-align: top; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list > li:before,
    .content .coaches-box ul.coaches-list > li:before {
      content: none;
      display: none; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list > li:nth-child(even) .coach-box:after,
    .content .coaches-box ul.coaches-list > li:nth-child(even) .coach-box:after {
      -webkit-transform: skewY(-7.3deg);
      -khtml-transform: skewY(-7.3deg);
      -moz-transform: skewY(-7.3deg);
      -ms-transform: skewY(-7.3deg);
      -o-transform: skewY(-7.3deg);
      transform: skewY(-7.3deg); }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list > li:nth-child(even) .coach-img-wrap,
    .content .coaches-box ul.coaches-list > li:nth-child(even) .coach-img-wrap {
      border-color: #24C4FF; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list > li:nth-child(even) .coach-info-table,
    .content .coaches-box ul.coaches-list > li:nth-child(even) .coach-info-table {
      color: #24C4FF; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-box,
  .content .coaches-box ul.coaches-list .coach-box {
    position: relative;
    padding: 0 20px;
    text-align: center; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-box:after,
    .content .coaches-box ul.coaches-list .coach-box:after {
      position: absolute;
      z-index: 4;
      content: '';
      left: 0;
      top: 84px;
      width: 100%;
      height: 100%;
      height: -webkit-calc(100% - 43px);
      height: calc(100% - 43px);
      -webkit-transform: skewY(7.3deg);
      -khtml-transform: skewY(7.3deg);
      -moz-transform: skewY(7.3deg);
      -ms-transform: skewY(7.3deg);
      -o-transform: skewY(7.3deg);
      transform: skewY(7.3deg);
      background-image: url(../../img/dark_bg.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-box > *,
    .content .coaches-box ul.coaches-list .coach-box > * {
      position: relative;
      z-index: 5; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-img-wrap,
  .content .coaches-box ul.coaches-list .coach-img-wrap {
    overflow: hidden;
    display: block;
    width: 190px;
    height: 190px;
    line-height: 180px;
    margin: 0 auto 22px;
    text-align: center;
    border: 4px solid #FF3B5E;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-img-wrap img,
    .content .coaches-box ul.coaches-list .coach-img-wrap img {
      max-width: 100%;
      max-height: 100%;
      height: auto;
      width: 100%;
      vertical-align: middle; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-name,
  .content .coaches-box ul.coaches-list .coach-name {
    margin-bottom: 62px !important;
    font: 400 24px "Anton", "Helvetica", Arial, sans-serif;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list ul.coach-info-list,
  .content .coaches-box ul.coaches-list ul.coach-info-list {
    max-width: 312px;
    margin: 0 auto 47px;
    padding: 0; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list ul.coach-info-list > li:before,
    .content .coaches-box ul.coaches-list ul.coach-info-list > li:before {
      content: none;
      display: none; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list ul.coach-info-list > li:not(:last-child),
    .content .coaches-box ul.coaches-list ul.coach-info-list > li:not(:last-child) {
      margin-bottom: 16px;
      padding-bottom: 17px;
      border-bottom: 1px solid #ffffff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list ul.coach-info-list:last-child,
    .content .coaches-box ul.coaches-list ul.coach-info-list:last-child {
      border-bottom: none; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-info-table,
  .content .coaches-box ul.coaches-list .coach-info-table {
    display: table;
    width: 100%;
    font: 400 24px "Pathway Gothic One", "Helvetica", Arial, sans-serif;
    line-height: 1.1;
    color: #FF3B5E;
    text-align: left;
    text-transform: uppercase; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-info-table span,
    .content .coaches-box ul.coaches-list .coach-info-table span {
      display: table-cell; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-info-table > *:last-child,
    .content .coaches-box ul.coaches-list .coach-info-table > *:last-child {
      text-align: right; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-info-title,
  .content .coaches-box ul.coaches-list .coach-info-title {
    color: #ffffff;
    opacity: .35; }
  .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-social-list,
  .content .coaches-box ul.coaches-list .coach-social-list {
    display: inline-block;
    margin-top: 0;
    padding: 0; }
    .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-social-list > li,
    .content .coaches-box ul.coaches-list .coach-social-list > li {
      display: inline-block;
      padding: 0 3px;
      margin: 0; }
      .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-social-list > li:before,
      .content .coaches-box ul.coaches-list .coach-social-list > li:before {
        content: none;
        display: none; }
      .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-social-list > li a,
      .content .coaches-box ul.coaches-list .coach-social-list > li a {
        overflow: hidden;
        display: block;
        width: 50px;
        height: 50px;
        text-align: center;
        -webkit-border-radius: 50%;
        -khtml-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.35); }
        .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-social-list > li a .fa,
        .content .coaches-box ul.coaches-list .coach-social-list > li a .fa {
          position: relative;
          font-size: 24px;
          line-height: 50px;
          color: #171717;
          -webkit-transition: 0.35s;
          -khtml-transition: 0.35s;
          -moz-transition: 0.35s;
          -ms-transition: 0.35s;
          -o-transition: 0.35s;
          transition: 0.35s; }
        .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-social-list > li a .fa-facebook,
        .content .coaches-box ul.coaches-list .coach-social-list > li a .fa-facebook {
          top: 2px;
          font-size: 30px; }
        .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-social-list > li a .fa-instagram,
        .content .coaches-box ul.coaches-list .coach-social-list > li a .fa-instagram {
          font-size: 34px; }
        .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-social-list > li a:hover .fa, .wpb_content_element:not(.wpb_raw_html) .wpb_wrapper .coaches-box ul.coaches-list .coach-social-list > li a:focus .fa,
        .content .coaches-box ul.coaches-list .coach-social-list > li a:hover .fa,
        .content .coaches-box ul.coaches-list .coach-social-list > li a:focus .fa {
          color: #FF3B5E; }

.section-beyond {
  margin-top: -35px !important; }
  .section-beyond .content {
    max-width: 540px; }

.section-meet-coaches .content {
  max-width: 795px;
  margin: 0 auto; }

.section-about-program .content {
  max-width: 630px;
  margin: 0 auto; }

.hero-btn-box {
  overflow: hidden;
  text-align: center; }
  .hero-btn-box a.btn,
  .hero-btn-box .btn {
    position: relative; }
    .hero-btn-box a.btn:before, .hero-btn-box a.btn:after,
    .hero-btn-box .btn:before,
    .hero-btn-box .btn:after {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      width: 600%;
      height: 1px;
      background: #7A7B7C; }
    .hero-btn-box a.btn:before,
    .hero-btn-box .btn:before {
      right: 100%;
      right: -webkit-calc(100% + 20px);
      right: calc(100% + 20px); }
    .hero-btn-box a.btn:after,
    .hero-btn-box .btn:after {
      left: 100%;
      left: -webkit-calc(100% + 20px);
      left: calc(100% + 20px); }

.section-title {
  margin-bottom: 20px;
  font: 400 40px "Anton", "Helvetica", Arial, sans-serif;
  line-height: 1.1;
  text-transform: uppercase; }

.fair-price-box {
  margin-top: -30px;
  padding: 44px 20px 44px;
  color: #ffffff;
  text-align: center;
  border: 10px solid #FFC42B; }
  .fair-price-box .small-text {
    margin-bottom: 12px;
    font-size: 16px; }
  .fair-price-box .price {
    margin-bottom: 2px;
    font: 400 100px "Anton", "Helvetica", Arial, sans-serif;
    line-height: 110px; }
  .fair-price-box span {
    display: block; }

.section-blog {
  padding: 40px 0 68px; }
  .section-blog .container {
    overflow: hidden; }

.content-wrap {
  float: left;
  padding: 1px 0;
  max-width: -webkit-calc(100% - 285px);
  max-width: calc(100% - 285px);
  width: 100%; }

.content-inner {
  max-width: 634px; }

.blog-list > li {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 2px solid #8F97A1;
  border-bottom: 2px solid rgba(0, 0, 0, 0.07); }
  .blog-list > li:last-child {
    margin-bottom: 49px; }

.blog-box a:hover, .blog-box a:focus {
  text-decoration: none; }
  .blog-box a:hover .blog-list-title, .blog-box a:focus .blog-list-title {
    color: #FF3B5E; }

.blog-top-box {
  overflow: hidden;
  margin-bottom: 16px; }

.blog-date,
.blog-logo-wrap {
  position: relative; }
  .blog-date a,
  .blog-logo-wrap a {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.blog-date {
  float: left;
  width: 143px;
  height: 131px;
  padding: 26px 30px 26px;
  font: 400 20px "Anton", "Helvetica", Arial, sans-serif;
  line-height: 1.1;
  color: #ffffff;
  text-align: center;
  background-color: #2E3642;
  text-transform: uppercase; }
  .blog-date span {
    display: block; }
    .blog-date span:not(.month) {
      margin-bottom: 2px; }
  .blog-date .month {
    font-size: 50px; }

.blog-logo-wrap {
  float: left;
  height: 131px;
  width: -webkit-calc(100% - 163px);
  width: calc(100% - 163px);
  padding: 10px 20px 10px;
  line-height: 111px;
  margin-left: 20px;
  text-align: center;
  background-color: #ffffff; }
  .blog-logo-wrap a {
    padding: 10px 20px 10px;
    line-height: 111px; }
  .blog-logo-wrap img {
    max-width: 260px;
    max-height: 77px;
    width: auto;
    height: auto;
    vertical-align: middle; }

.blog-list-title {
  margin-bottom: 6px;
  font: 400 28px "Anton", "Helvetica", Arial, sans-serif;
  line-height: 41px;
  color: #2E3642;
  text-transform: uppercase;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }

.blog-info-box {
  font-size: 14px;
  color: #8F97A1;
  margin: 0 -10px 12px;
  line-height: 1.2; }
  .blog-info-box > * {
    position: relative;
    padding: 0 10px; }
    .blog-info-box > *:not(:last-child):after {
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: #8F97A1; }
  .blog-info-box a {
    color: #8F97A1; }
    .blog-info-box a:hover, .blog-info-box a:focus {
      color: #FF3B5E;
      text-decoration: none; }

.blog-desc {
  max-width: 590px;
  margin-bottom: 21px;
  word-spacing: -.02em; }
  .blog-desc > *:not(:last-child) {
    margin-bottom: 12px; }

.pagination-box {
  margin-bottom: -8px; }

.nav-links .page-numbers {
  display: inline-block;
  min-width: 38px;
  padding: 10px 10px 9px;
  font-size: 14px;
  line-height: 1;
  color: #333333;
  text-align: center;
  border: 1px solid #DDE0E3;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff; }
  .nav-links .page-numbers.current {
    color: #ffffff;
    background-color: #24C4FF;
    border-color: #24C4FF; }
.nav-links > * {
  margin-bottom: 8px; }
.nav-links > a:hover, .nav-links > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #24C4FF;
  border-color: #24C4FF; }
.nav-links .screen-reader-text {
  display: none; }
.nav-links .prev,
.nav-links .next {
  display: none; }

.wp-pagenavi .first,
.wp-pagenavi .last,
.wp-pagenavi .previouspostslink,
.wp-pagenavi .nextpostslink,
.wp-pagenavi .page,
.wp-pagenavi .current {
  display: inline-block;
  min-width: 38px;
  padding: 10px 10px 9px;
  font-size: 14px;
  line-height: 1;
  color: #333333;
  text-align: center;
  border: 1px solid #DDE0E3;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #ffffff; }
.wp-pagenavi .current {
  color: #ffffff;
  background-color: #24C4FF;
  border-color: #24C4FF; }
.wp-pagenavi > * {
  margin: 0 5px 5px 0; }
.wp-pagenavi > a:hover, .wp-pagenavi > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #24C4FF;
  border-color: #24C4FF; }

.blog-inner .blog-box {
  margin-bottom: 10px; }
.blog-inner .content {
  max-width: 596px;
  margin-bottom: 33px; }
.blog-inner .section-title {
  margin-bottom: 8px;
  line-height: 1.45;
  color: #2E3642; }

.next-prev-box {
  overflow: hidden;
  margin-bottom: 46px;
  padding: 30px 0 10px;
  border: 2px solid rgba(0, 0, 0, 0.07);
  border-left: none;
  border-right: none; }
  .next-prev-box .next-post-btn {
    float: right; }
  .next-prev-box .prev-post-btn {
    float: left; }
  .next-prev-box > * {
    display: inline-block;
    vertical-align: top; }
  .next-prev-box a.btn,
  .next-prev-box .btn {
    display: inline-block;
    margin-bottom: 20px; }
    .next-prev-box a.btn .fa,
    .next-prev-box .btn .fa {
      position: relative;
      top: 4px;
      font-size: 34px;
      line-height: 8px; }

.comment-list {
  margin-bottom: 45px; }
  .comment-list .children {
    margin-left: 30px; }

.comments-title {
  margin-bottom: 21px;
  font: 400 26px "Anton", "Helvetica", Arial, sans-serif;
  line-height: 1.1; }
  .comments-title a {
    font-size: 16px;
    line-height: 1.1;
    color: #8F97A1; }
    .comments-title a:hover, .comments-title a:focus {
      color: #FF3B5E;
      text-decoration: none; }

.comment-author-box {
  float: left;
  width: 84px;
  padding-top: 8px;
  padding-right: 20px; }

.comment-body {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.07); }
  .comment-body.awaiting-moderation {
    opacity: .7;
    border-color: #FF3B5E; }

.comment-box {
  overflow: hidden; }

.comment-author-img {
  overflow: hidden;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 48px;
  text-align: center;
  -webkit-border-radius: 50%;
  -khtml-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #ffffff; }
  .comment-author-img img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    vertical-align: middle; }

.comment-info-box {
  margin-bottom: 7px; }

.comment-author {
  margin-right: 14px;
  font-weight: 700;
  line-height: 1.1;
  color: #353F4C; }

.comment-meta {
  display: inline-block; }
  .comment-meta a {
    font-size: 14px;
    line-height: 1.1;
    color: #8F97A1; }
    .comment-meta a:hover, .comment-meta a:focus {
      color: #FF3B5E;
      text-decoration: none; }

.comment-content-box {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.4; }
  .comment-content-box > *:not(:last-child) {
    margin-bottom: 20px; }
  .awaiting-moderation .comment-content-box {
    color: #8F97A1; }

.logged-in-as {
  padding-left: 2px;
  color: #8F97A1; }
  .logged-in-as a {
    font-size: 16px;
    line-height: 1.1;
    color: #8F97A1; }
    .logged-in-as a:hover, .logged-in-as a:focus {
      color: #FF3B5E;
      text-decoration: none; }

.comment-respond .comments-title {
  margin-bottom: 12px; }

.reply a.btn,
.reply .btn {
  min-width: 90px;
  padding: 5px 10px 4px; }

.comment-form {
  overflow: hidden;
  margin-bottom: 30px; }
  .comment-form label.error {
    display: inline-block;
    margin-top: 6px;
    font-size: 16px;
    line-height: 1.1;
    color: #FF3B5E; }

.comment-form-comment {
  margin-bottom: 20px; }

.comment-awaiting-moderation {
  color: #FF3B5E; }

.comment-notes,
#email-notes {
  display: none; }

.three-coll {
  float: left;
  width: 33.33%;
  padding: 0 10px; }
  .three-coll a.btn.big,
  .three-coll .btn.big {
    min-width: 100%; }
  .three-coll.first {
    width: 37%;
    padding-left: 0; }
  .three-coll.second {
    width: 39%; }
  .three-coll.third {
    float: right;
    width: 24%;
    padding-right: 0; }

.section-404 .container {
  display: table;
  width: 100%;
  height: 100vh;
  height: -webkit-calc(100vh - 210px);
  height: calc(100vh - 210px);
  padding-top: 40px;
  padding-bottom: 40px; }

.container-cell {
  display: table-cell;
  width: 100%;
  height: 100px;
  vertical-align: middle; }

.error-404 {
  text-align: center; }

.error-number {
  display: block;
  font: 400 125px "Anton", "Helvetica", Arial, sans-serif;
  line-height: 1.1; }

.short-info {
  font-size: 30px;
  line-height: 1.1;
  text-transform: uppercase; }

/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (max-width: 991px) {
  .header {
    min-height: 55px; }
    .header .logo {
      padding-top: 15px;
      padding-bottom: 9px; }
    .header.logged .logo, .header.scrolling .logo {
      max-width: 110px;
      left: 0; }

  .main-nav > ul > li a {
    margin: 0 9px;
    padding: 19px 0 18px;
    font-size: 18px; }
    .logged .main-nav > ul > li a, .scrolling .main-nav > ul > li a {
      margin: 0 4px; }

  .header-btn-box {
    display: inline-block;
    margin-top: 11px; }

  .show #main-content {
    padding-top: 55px; }

  .footer-list > li {
    width: 49% !important;
    vertical-align: top; }
    .footer-list > li:nth-child(2) {
      text-align: right; }
    .footer-list > li:last-child {
      width: 100% !important;
      text-align: center; }

  .wrapper {
    margin-bottom: -161px; }
    .wrapper:after {
      height: 161px; } }
@media all and (max-width: 860px) {
  .content-wrap {
    float: none;
    max-width: 100%; }

  .content-inner {
    margin: 0 auto; }

  .sidebar {
    float: none;
    max-width: 634px;
    width: 100%;
    margin: 0 auto;
    padding-left: 0; }

  .widget:not(.widget_search) {
    display: inline-block;
    width: calc(50% - 4px);
    padding: 0 15px;
    vertical-align: top; } }
@media all and (max-width: 767px) {
  .desktop,
  .header-btn-box {
    display: none !important; }

  .mobile-menu-wrap,
  .mobile-menu-toggle {
    display: block; }

  .header .logo {
    max-width: 110px !important;
    opacity: 1 !important;
    visibility: visible !important; }

  .coaches-list {
    max-width: 480px;
    margin: 0 auto; }
    .coaches-list > li {
      margin-bottom: 120px;
      width: 100%; }

  .blog-logo-wrap img {
    max-width: 100%; } }
@media all and (max-width: 580px) {
  .widget:not(.widget_search) {
    max-width: 260px;
    display: block;
    width: 100%;
    margin: 0 auto 46px;
    padding: 0; } }
@media all and (max-width: 520px) {
  .footer-list > li {
    width: 100% !important;
    text-align: center !important; }
    .footer-list > li:not(:last-child) {
      margin-bottom: 20px; }

  .footer-box {
    text-align: center; }
    .footer-box br {
      display: none; } }

/*# sourceMappingURL=screen.css.map */
