.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 90px;
  opacity: 0;
  background-color: $color-bg2;
  @include animate();
  //@include transition();
  @include css3-prefix('box-shadow', '0 1px 15px rgba(0, 0, 0, 0.7)');
  .show & {
    opacity: 1;
  }
  .logo {
    opacity: 0;
    visibility: hidden;
    max-width: 0;
    //@include css3-prefix('transition-delay', '3s');
  }
  &.logged,
  &.scrolling {
    min-height: 55px;
    .logo {
      position: relative;
      left: -2px;
      padding-top: 15px;
      padding-bottom: 9px;
      opacity: 1;
      visibility: visible;
      max-width: 131px;
    }
  }
  .admin-bar & {
    top: 32px;
    @media all and (max-width: 782px){
      top: 46px;
    }
  }
  .admin-bar.scrolling & {
    @media all and (max-width: 600px){
      top: 0;
    }
  }
}


.logo {
  overflow: hidden;
  float: left;
  max-width: 152px;
  padding-top: 17px;
  padding-bottom: 15px;
  @include transition();
  img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
  }
}


.mobile-menu-wrap,
.mobile-menu-toggle {
  display: none;
}
.mobile-menu-wrap {
  position: fixed;
  z-index: 99999;
  right: 0;
  height: 0;
  width: 0;
  top: 0;
  @include css3-prefix('transition-delay', $transition-other);
  &.showing {
    height: 100%;
    width: 100%;
    @include css3-prefix('transition-delay', '0s');
  }
}
.mobile-menu-overlay {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
  opacity: 0;
  @include css3-prefix('transition', 'opacity '$transition-other);
  .showing & {
    opacity: 1;
  }
}
.mobile-menu-box {
  position: absolute;
  overflow: auto;
  width: 370px;
  max-width: 80%;
  height: 100%;
  top: 55px;
  right: -400px;
  z-index: 2;
  padding-top: 20px;
  //@include bg_gradient();
  background-image: url(../../img/dark_bg.jpg);
  @include css3-prefix('transition', 'right '$transition-other);
  @include css3-prefix('box-shadow', '-10px 10px 30px rgba(0,0,0,0.2)');
  .showing & {
    right: 0;
  }
}

.mobile-menu-toggle {
  position: absolute;
  right: 0;
  top: 0;
  height: 55px;
  width: 55px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 26px;
  span:before,
  span:after,
  span {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    height: 3px;
    width: 30px;
    background-color: $color-bg4;
    @include border-radius(2px);
    @include css3-prefix('transition', 'all '$transition-other);
  }
  span {
    z-index: 999999;
    left: 50%;
    top: 50%;
    @include css3-prefix('transform', 'translate(-50%, -50%)');
  }
  span:before {
    top: -9px;
  }
  span:after {
    bottom: -9px;
  }
  &.active span {
    background-color: transparent;
  }
  &.active span:before {
    @include css3-prefix('transform', 'rotate(45deg)');
    top: 0;
    background-color: $color-bg4;
  }
  &.active span:after {
    @include css3-prefix('transform', 'rotate(-45deg)');
    bottom: 0;
    background-color: $color-bg4;
  }
}

