/*--------------------------------------MEDIA-----------------------------------------*/

@media all and (max-width: 991px) {

}


@media all and (max-width: 991px) {
  .header {
    min-height: 55px;
    .logo {
      //max-width: 0;
      padding-top: 15px;
      padding-bottom: 9px;
    }
    &.logged,
    &.scrolling {
      .logo {
        max-width: 110px;
        left: 0;
      }
    }
  }

  //.header.logged .logo,
  //.header.scrolling .logo {
  //  max-width: 110px;
  //}
  .main-nav {
    > ul {
      > li {
        a {
          margin: 0 9px;
          padding: 19px 0 18px;
          font-size: $size-main;
          .logged &,
          .scrolling & {
            margin: 0 4px;
          }
        }
      }
    }
  }
  .header-btn-box {
    display: inline-block;
    margin-top: 11px;
  }
  .show #main-content {
    padding-top: 55px;
  }
  .footer-list {
    > li {
      width: 49% !important;
      &:nth-child(2) {
        text-align: right;
      }
      &:last-child {
        width: 100% !important;
        text-align: center;
      }
    }
  }
  .wrapper {
    margin-bottom: -161px;
    &:after {
      height: 161px;
    }
  }
}

@media all and (max-width: 860px) {
  .content-wrap {
    float: none;
    max-width: 100%;
  }
    .content-inner {
      margin: 0 auto;
    }
  .sidebar {
    float: none;
    max-width: 634px;
    width: 100%;
    margin: 0 auto;
  }
  .widget:not(.widget_search) {
    //max-width: 260px;
    display: inline-block;
    width: calc(50% - 4px);
    padding: 0 15px;
    vertical-align: top;
  }
}

@media all and (max-width: 767px) {
  .desktop,
  .header-btn-box {
    display: none !important;
  }
  .mobile-menu-wrap,
  .mobile-menu-toggle {
    display: block;
  }
  .header .logo {
    max-width: 110px !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .coaches-list {
    max-width: 480px;
    margin: 0 auto;
    > li {
      margin-bottom: 120px;
      width: 100%;
    }
  }
  .blog-logo-wrap {
    img {
      max-width: 100%;
    }
  }
}

@media all and (max-width: 640px) {

}

@media all and (max-width: 580px) {
  .widget:not(.widget_search) {
    max-width: 260px;
    display: block;
    width: 100%;
    margin: 0 auto 46px;
    padding: 0;
    //vertical-align: top;
  }
}
@media all and (max-width: 520px) {
  .footer-list > {
    li {
      width: 100% !important;
      text-align: center !important;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  .footer-box {
    text-align: center;
    br {
      display: none;
    }
  }
}
