.sidebar {
  float: left;
  width: 285px;
  //margin-top: 40px;
  padding-left: 20px;
  //background-color: green;
}
  .widget {
    margin-bottom: 46px;
    > ul {
      > li {
        display: block;
        border-bottom: 2px solid $color-text5;
        border-bottom: 2px solid rgba(0, 0, 0, .07);
        a {
          display: block;
          padding: 7px 0 16px;
          font-size: 14px;
          color: $color-text7;
          &:hover,
          &:focus {
            color: $color-text4;
            text-decoration: none;
          }
        }
      }
    }
    .cat-item-1 {
      display: none;
    }
  }
    .widget-title {
      margin-bottom: 17px;
      @include font($normal, $size-biggest, $font-heading, $line-height-heading);
      //letter-spacing: .01em;
      //word-spacing: .02em;
    }
  .popular-list {
    > li {
      border: none;
      &:not(:last-child){
        margin-bottom: 21px;
      }
      a {
        color: $color-text7;
        &:hover,
        &:focus {
          color: $color-text4;
          text-decoration: none;
        }
      }
    }
  }
    .popular-img-wrap {
      position: relative;
      height: 73px;
      margin-bottom: 11px;
      //padding: 10px;
      background-color: $white;
      a {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        line-height: 53px;
        text-align: center;
      }
      img {
        max-width: 145px;
        max-height: 53px;
        height: auto;
        width: auto;
        vertical-align: middle;
      }
      .wpp-thumbnail {
        display: inline-block;
        float: none;
        margin: 0;
      }
    }
    .popular-title {
      margin-bottom: 1px;
      font-size: $size-small;
      line-height: 1.4;
      text-transform: uppercase;
    }
    .popular-desc {
      font-size: 14px;
      color: $color-text5;
      letter-spacing: -.01em;
    }

  .tagcloud {
    overflow: hidden;
    margin: 23px 0 0 5px;
    a {
      float: left;
      display: block;
      margin: 0 10px 10px 0;
      padding: 6px 11px 5px;
      color: $white;
      font-size: 12px !important;
      text-transform: uppercase;
      background-color: $color-bg4;
      border: 1px solid $color-bg4;
      &:hover,
      &:focus {
        color: $color-text4;
        text-decoration: none;
        background-color: transparent;
      }
    }
  }
    //.wp-tag-cloud {
    //  overflow: hidden;
    //  margin: 23px 0 0 5px;
    //  > li {
    //    //float: left;
    //    //display: block;
    //    display: inline-block;
    //    //margin: 0 10px 10px 0;
    //    //margin: 0 5px 10px;
    //    vertical-align: top;
    //
    //  }
    //}
  .widget_search {
    margin-bottom: 40px;
    label {
      .screen-reader-text {
        display: none;
      }
    }
    .search-form {
      position: relative;
    }
    .search-submit {
      position: absolute;
      right: 0;
      top: 0;
    }
  }