.sidebar {
  float: left;
  max-width: 330px;
  width: 100%;
  padding-left: 20px;
  background-color: green;
}
  .widget {
    > ul {
      > li {
        a {

        }
      }
    }
  }
    .widget-title {

    }