/*fonts*/
$font-main: 'Helvetica', Arial, sans-serif;
$font-navigation: 'Pathway Gothic One', 'Helvetica', Arial, sans-serif;
$font-heading: 'Anton', 'Helvetica', Arial, sans-serif;
$font-input : 'Montserrat', 'Helvetica', Arial, sans-serif;
$font-open-sans: 'Open Sans', 'Helvetica', Arial, sans-serif;

/*fonts-weight*/
$normal: 400;
$light: 300;
$bold: 700;

/*fonts-size*/
//$size-html: 18px;
$size-main: 18px;
$size-small: 16px;
$size-big: 24px;
$size-biggest: 26px;
$size-heading1: 40px;
$size-heading2: 28px;
//$size-heading3: 28px;

/*line-height*/
$line-height: 1.6;
$line-height-heading: 1.1;

/*colors*/
$white: #ffffff;
$black: #000000;
$color-text: $black;
$color-text2: #17191C;
$color-text3: #24C4FF;
$color-text4: #FF3B5E;
$color-text5: #8F97A1;
$color-text6: #FFC42B;
$color-text7: #2E3642;

$color-bg1: $white;
$color-bg2: #0B0C0D;
$color-bg3: #24C4FF;
$color-bg4: #FF3B5E;
$color-bg5: #294955;
$color-bg6: #F4F5F7;

/*transition*/
$transition-link: .2s;
$transition-other: .35s;

/*border-radius*/
$radius-main: 10px;
$radius-small: 5px;

